@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* Verdana */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: sans-serif; */
  font-size : 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
}

.wrapper{
  width:80%;
  margin:auto;
  padding-top:20px;
  padding-bottom: 20px;
}

.linebreak{
  white-space: pre-wrap;
}

#newsDetailContent{
  white-space: pre-wrap;
  font-family: serif !important;
  font-size: 19px;
}

input{
  border-radius: 5px;
  border:1px solid grey
}

textarea{
  border-radius: 5px;
}

select{
  border-radius: 5px;
}

h1{
  
  font-size: 30px;
  font-weight: bold;

}

h2{
  font-weight: bold;

}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  padding:20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter:  brightness(30%);
}


h3{
  font-size:20px;
  font-weight: bold;
}

h4{
  font-size: 16px;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Global*/
.title {
  background-color: #f9f9f9;
  text-align: left;
  margin: 20px;
  padding-left: 10px
}

img {
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

.linkNoStyled {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 80%;
  margin: auto;
  paddingTop: 20px;
  paddingBottom: 20px;
}

.content {
  background-color: white;
}

body {
  box-sizing: border-box;
}

/* Header */

#nav-center ul li {
  display: inline;
  list-style-type: none;
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  border: 1px solid black;
  border-collapse: collapse;
}

#logo {
  width: 60px;
  border: 1px solid black;
  border-radius: 45px;
}

.buttonHoverable:hover {
  color: red
}

.transparentButton {
  background-color: transparent;
  color: red;
  outline: none;
  border: none;
  font-size: 14px;
  /* font-weight: bold; */
}

.transparentButton:hover{
  background-color:red;
  color:white
}



/* Content */
#content {
  background-color: #FFEFEF;
  min-height: 540px;
}



/* input[type=number]::-webkit-inner-spin-button {
  opacity: 1
} */

/* Footer */
#footer {
  width: 100%;
  border-top: 1px solid black;
  min-height: 100px;

}

#wrapper-footer {
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
}


.product {
  border: 1px solid transparent;
}

.product:hover {
  border: 1px solid black;
}

#searchButton:hover{
  background-color: green
}

#searchButton{
  height: 120%;
  width : 40px;
  margin-left:-6px;
  border:none;
  background-color: grey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}






/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4-disabled{
  appearance: none;
  background-color: #959DA5;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

#news{
  white-space: pre-line;
}

h2{
  font-size: 24px;
}

textarea{
  padding:0;
  margin:0
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

/* @keyframes rollout {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
} */
/* 
.roll-out {
  animation: .4s rollout;
} */
/* 
input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
} */


.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
